<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> Lista de Peliculas </h1>
					<ul class="breadcumb">
						<li class="active"><a (click)="home()">Inicio</a></li>
						<li> <span class="ion-ios-arrow-right"></span> Selecciona la pelicula para ver detalles</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Peliculas enctontradas</p>
				</div>
				<pagination-controls  class="paginator" (pageChange)="p = $event"maxSize="6" autoHide="false" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPageLabel="page"></pagination-controls>
				<div class="movie-item-style-2" *ngFor="let movies of (movies$ | async)?.results | paginate: { itemsPerPage: 3, currentPage: p }">
					<img src="http://image.tmdb.org/t/p/w185/{{movies.poster_path}} "alt="">
					<div class="mv-item-infor">
						<h6><a (click)="seeDetails(movies.id)">{{movies.title}} <span> - {{movies.release_date | date:'y'}}</span></a></h6>
						<p class="rate"><i class="ion-android-star"></i><span>{{movies.vote_average}}</span> /10</p>
						<p class="describe">{{movies.overview}}</p>
						<a (click)="seeDetails(movies.id)" class="item item-2 redbtn fancybox-media hvr-grow"> VER MÁS </a>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>