<html lang="es" class="no-js">
<head>
	<!-- Basic need -->
	<title>{{title}}</title>
  <!--Google Font-->
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
</head>
<!--Body-->
<body>
  <!--  Header  -->
  <app-header-componenent></app-header-componenent>
  <!-- end Header -->
  <router-outlet></router-outlet>
  <!-- Footer -->
  <app-footer-component></app-footer-component>
  <!-- end Footer-->
</body>
<!-- end Body-->
</html>
